@use "componentes";

@mixin section-display{
    width: 100%;
    max-width: 992px;
    margin: auto;
    padding: 3rem;
}
html{
    min-height: 100vw;
}
body{
    padding: 0;
    margin: 0;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-bottom: solid 1px #ddd;
}
.logo a img{
    max-width: 7rem;
}
.sec-home{
    display: flex;
    align-items: center;
    @include section-display(); 
    img{
        width: 15rem
    }
    .home-cta{
        flex: 1;
        text-align: start;
        .cta-text{
            color:componentes.$color-main;
        }
        .home-title{
            width:20rem;
            font-size: 2rem;
        }
        .home-description{
            width: 300px
        }
        .lead-magnet{
            .input-col{
                max-width: 200px
            }
        }
       
    }
}
.sec-features{
    @include section-display();
    .intro{
        text-align: center;
        h3{
            font-size: 1.8rem;
        }
        p{
            font-size: 0.8rem;
            color: #46414188;
        }
    }
    .features {
        display: flex;
        gap: 0.5rem;
        align-items:center;
        justify-content: center;
        .text {
            padding: 2rem 0;
            max-width: 40%;
            text-align: center;
            .feature {
                display: flex;
                flex-direction: row;
                align-items: center;
                .description{
                    margin-left: 1rem;
                    .description-title{
                        text-align: start;
                        font-size: 1.10rem;
                    
                    }
                    .description-text{
                        text-align: left;
                        font-size: 0.9rem;
                    }
                    }
                }
            }

        }
        .imagen{
            img{
                max-width: 25rem;
            }
        }
    }
.sec-benefits{
    @extend .sec-features, .intro; 
    border-top: 1px solid rgb(86, 81, 81);
    .benefit-cards{
        width: 100%;
        padding: 0 2rem 2rem 2rem;
    }
}
.sec-kpis{
    background-color:componentes.$color-main;
    color: white;
    padding: 3rem;
    width: 100%;
    margin-left: 0%;
    .kpi{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .number{
        font-size: 3.5rem;
        font-weight: 600;
    }
    .description{
        font-size: 0.9rem;
        color: #ffffffaa;
    }
}
.sec-unbording{
    @extend .sec-features, .intro;
  .steps{
    padding: 0 7rem 5rem 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .step-separator{
        flex: 2px;
        border-top: 1px solid #000000dd;
        width: 30px;
    }
}
} 
.sec-footer-cta{
    background-color: componentes.$color-footer;
    padding: 5rem;
    background-image: url(../assets/bg\ 1.png);
    background-repeat: no-repeat;
    background-position: 100%;
    .footer-cta{
        width: 50%;
        .cta-title{
        font-size: 2rem;
        }
        .cta-description{
        font-size: 1.1rem;
        }
   }
}
@media(max-width: 768px){
    .sec-unbording{
        .steps{
            flex-direction: column;
            .icon-desc{
                .title{
                    text-align: center;
                }
            }
        }
    }

    .sec-footer-cta{
        background-image: none;
        .footer-cta{
            width: 100%;
            text-align: center;
        }
    }
    .sec-benefits{
        .intro{
            text-align: center;
            h3{
                font-size: 2rem;
            }
        }
    }
    .sec-features{
        .intro{
            p{
                font-size: 1rem;
            }
            h3{
                font-size: 2rem;
            }
        }
    }
}
