.contenedor{
    display: flex;
    gap: 1rem;
    background-color: blue;
    min-height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.item{
    background-color: aqua;
    width: 10rem;
    height:4rem;
    display: flex;
    justify-content:center;
    align-items: center;

}
.item-1{
    float: left;
    background-color: azure;
    justify-content: start;
}
.item-2{
    background-color: azure;
    gap: 1rem;
    align-items: start;
}
.item-3{
    background-color: azure;
    gap: 2rem;
}
