@import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,100;1,200;1,400 & display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #cadede;
}
.container h3{
    color:white
}
.botones{
    align-self: flex-start;
    display: flex;
    gap: 30px;
    padding: 0 10px;
}
.btn-google{
    background-color: #1a73E8;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px; 
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}
.btn-google:hover{
    opacity:0.6;
}
.btn-google picture{
    width: 30px;
    background-color: white;
    height: 30px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;;
}
.btn-google picture img{
    width: 75%;
}
.btn-google span{
    color: white;
    padding: 15px;
    font-weight: 500 ;
}
.twiter-btn{
    color: gray;
    background-color:#eee;
    border: none;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.twiter-btn:hover{
    opacity: 0.6;
}
.twiter-btn picture{
    width: 30px;
    background-color: white;
    height: 30px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;;
}
.twiter-btn img{
    width: 75%;
}   

/* separador */
.separador{
    display:flex;
    width:100%;
    gap: 10px;
    border:none;
}
.separador hr{
    flex-grow:1;
}
.separador span{
    color: #ccc;
}

/* section inputs */
.section-input{
    display: flex;
    gap: 10px;
    width: 100%;
}
form{
    display: contents;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}
label{
    width: 100%;
    display: flex;
    flex-direction:column;
    gap: 5px;
}
label span{
    font-weight: 700;
    color: white;
    padding: 0 10px;
}
.section-input label input{
    width: 80%;
    background-color: #443d3d32;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
}
label input{
    width: 90%;
    background-color: #2f2a2a;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.2s border 0.2s box-shodow 0.2s;
}
label input:hover{
    background-color: #454045;
    border:solid 1px #f3f3f4;
    box-shadow: 0 0 4px #eb58ff4f;
}
label input:focus{
    background-color: white;
    border:solid 1px #f3f3f4;
    box-shadow: 0 0 4px #eb58ff4f;
}

/*  check box */
.checkbox{
    display: flex;
    flex-direction: row;
}
.checkbox input[type="checkbox"]{
    width: 20px;
}
.checkbox span{
    font-weight: 400;
}
.submit{
    width: 100%;
    background-color: #b877a3;
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 10px ;
    cursor: pointer;
}
.submit:hover{
    opacity:75% ;
}